body{
  font-family:Verdana,sans-serif;
  margin: 0;
  font-size: 16px;
  color: #333;
}

header {
  color:white;
  text-align: center;
  background-color:#f59a00;
  padding-top: 64px;
}
header h1,
header p {
  margin: 0;
}
/* .btn {
 text-decoration: none;
  background: #fff;
  color: #f59a00;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
} */
.no:hover{
  opacity: 0.8;
}
header img {
  width: 280px;
  vertical-align:bottom;
}
header a {
  text-decoration:none;
  background-color:white;
  color:#f59a00;
  display:block;
  margin:20px 0;
  border-radius:5px;
  width:150px;
  line-height:40px;
  margin: 50px auto;

}
.store img{
width: 100%;
}
.store {
  text-align: center;
}
/* .store h1 {
  text-align: center;
  padding: 64px;
  font-weight: normal;
} */
.store .container {
  margin: 0 32px;
}
/* .store p {
  line-height: 1.8px;
 
} */
.store section {
  padding-bottom: 64px;
}
footer {
  height: 200px;
  width:100%;
  background-color:#414457;
  color:white;

}
footer .name {
  padding-top: 25px;
}
footer .container {
  margin: 0 auto;
  display:flex;
  width: 200px;


  padding-top:10px;

  
}
footer img {
  width:50px;
  height:50px;
  margin-left: 5px;
}
@media (min-width: 900px) {
  header .container {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }
  header .info {
    width: 40%;
    /* align-self: center; */
  }


  header .pic {
    width: 10%;
  }
header .btn {
  display:inline-block;
  display:flex;
 
}
header a {
  margin-right:20px;
}
.store .container {
  width: 800px;
  margin: 0 auto;
  margin-top:30px;
  }
.store section {
  display: flex;
  justify-content: space-between;

}
.store .info {
  color:white;
  width: calc(50% - 32px);
  background-color: #f59a00;
 
  width: 400px;
  margin-left:10px;

}
 



.info p {
   /* position: absolute;
  bottom :0; */
  display: block;
  margin:10px;


}



.store img {
  width:400px;
  height:266px;
  
}
.store p {
  line-height: normal;
}







.store section:nth-child(even) {
  flex-direction: row-reverse;
}
footer .container {
  width:100%;
  margin: 0 auto;
}

}
